@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.MultiTenancy
@using Volo.Abp.UI.Navigation
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IHtmlLocalizer<AbpUiResource> L
@model ApplicationMenu

<div class="dropdown">
	<div class="lpx-user-profile dropdown-toggle" role="button" id="userDropdown" data-bs-toggle="dropdown"
		aria-expanded="false">

		@* TODO: Find out what to do with avatar.
			<div class="lpx-avatar">
			<img class="lpx-avatar-img" src="@ProfileImageUrl" alt="@UserName avatar">
			</div>
		*@

		@if (CurrentUser.TenantId == null)
		{
			<span class="user-full-name">@CurrentUser.UserName</span>
		}
		else
		{
			<span class="user-full-name"><i>@CurrentTenant.Name</i>\@CurrentUser.UserName</span>
		}
	</div>
	<div class="dropdown-menu" aria-labelledby="userDropdown">

		@for (var i = 0; i < Model.Items.Count; i++)
		{
			if (i == Model.Items.Count - 1) // If last element
			{
				<div class="dropdown-divider"></div>
			}

			var item = Model.Items[i];
			var disabled = item.IsDisabled ? "disabled" : string.Empty;
			var url = string.IsNullOrEmpty(item.Url) ? "#" : Url.Content(item.Url);

			<a class="dropdown-item @item.CssClass @disabled"
				href="@url"
				target="@item.Target"
				id="@item.ElementId">
				<span class="lpx-menu-item-icon">
					<i class="lpx-icon @item.Icon"></i>
				</span>

				<span>@item.DisplayName</span>
			</a>
		}
	</div>
</div>
