@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite.Themes.LeptonXLite.Components.Menu

@model MenuItemViewModel

@{
	var cssClass = string.IsNullOrEmpty(Model.MenuItem.CssClass) ? string.Empty : Model.MenuItem.CssClass;
}

@if (Model.MenuItem.IsLeaf)
{

	var url = string.IsNullOrEmpty(Model.MenuItem.Url) ? "#" : Url.IsLocalUrl(Model.MenuItem.Url) ? Url.Content(Model.MenuItem.Url.EnsureStartsWith('~')) : Model.MenuItem.Url;

	<a href="@url" target="@Model.MenuItem.Target" class="lpx-menu-item-link lpx-menu-item @(Model.IsActive ? "selected" : "") @cssClass" id="@Model.MenuItem.ElementId">
		@if (!Model.MenuItem.Icon.IsNullOrEmpty()) {
			<span class="lpx-menu-item-icon"><i class="lpx-icon @Model.MenuItem.Icon" aria-hidden="true"></i></span>
		}
		<span class="lpx-menu-item-text hidden-in-hover-trigger">@Model.MenuItem.DisplayName</span>
	</a>
}
else
{
	<a class="lpx-menu-item-link lpx-menu-item @(Model.IsActive ? "selected" : "")">

		@if (!Model.MenuItem.Icon.IsNullOrEmpty()) {
			<span class="lpx-menu-item-icon"><i class="lpx-icon @Model.MenuItem.Icon" aria-hidden="true"></i></span>
		}

		<span class="lpx-menu-item-text hidden-in-hover-trigger">@Model.MenuItem.DisplayName</span>

		<i class="dd-icon hidden-in-hover-trigger lpx-caret bi-chevron-down" aria-hidden="true"></i>
	</a>

	<ul id="@Model.MenuItem.ElementId" class="lpx-inner-menu hidden-in-hover-trigger @(Model.IsActive ? "" : "collapsed") @cssClass">
		@foreach (var childMenuItem in Model.Items)
		{
			<li class="lpx-inner-menu-item">
                @await Html.PartialAsync("~/Themes/LeptonXLite/Components/Menu/_MenuItem.cshtml", childMenuItem)
			</li>
		}
	</ul>
}
