@using Volo.Abp.SettingManagement.Localization
@inherits Volo.Abp.AspNetCore.Components.AbpComponentBase
@inject AbpBlazorMessageLocalizerHelper<AbpSettingManagementResource> LH

@if (TimezoneSettings != null)
{
    <MudSelect T="string" Value="@TimezoneSettings.Timezone"
               ValueChanged="@OnSelectedValueChangedAsync"
               Label="@($"{L["DisplayName:Timezone"]} *")"
               Class="mt-3">
        @foreach (var item in TimezoneSettings.TimeZoneItems)
        {
            <MudSelectItem Value="@item.Value">@item.Name</MudSelectItem>
        }
    </MudSelect>
    <MudText Typo="Typo.caption" Class="mt-1">@L["TimezoneHelpText"].Value</MudText>
    <div class="mt-3">
        <MudButton Color="MudBlazor.Color.Primary" Variant="Variant.Filled"
                   OnClick="@UpdateSettingsAsync">@L["Save"]</MudButton>
    </div>
}
