@using Microsoft.Extensions.Localization
@using global::Localization.Resources.AbpUi
@inject IStringLocalizer<AbpUiResource> UiLocalizer
@using Microsoft.Extensions.Options
@using Volo.Abp.AspNetCore.Components.Web
@inject IOptions<AuthenticationOptions> AuthenticationOptions
@inject IOptions<AbpAspNetCoreComponentsWebOptions> AbpAspNetCoreComponentsWebOptions
<AuthorizeView>
	<Authorized>
		<div class="dropdown">
			<div class="lpx-user-profile dropdown-toggle" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">

				@* TODO: Find out what to do with avatar.
					<div class="lpx-avatar">
					<img class="lpx-avatar-img" src="@ProfileImageUrl" alt="@UserName avatar">
					</div>
				*@

				@if (TenantName.IsNullOrEmpty())
				{
					<span class="user-full-name">@UserFullName</span>
				}
				else
				{
					<span class="user-full-name"><i>@CurrentTenant.Name</i>\@UserFullName</span>
				}
			</div>
			<div class="dropdown-menu" aria-labelledby="userDropdown">
				@for (var i = 0; i < UserMenu.Items.Count; i++)
				{
					<a class="dropdown-item" href="@UserMenu.Items[i].Url.TrimStart('~')" target="@UserMenu.Items[i].Target" id="@UserMenu.Items[i].ElementId">
						<span class="lpx-menu-item-icon">
							<i class="lpx-icon @UserMenu.Items[i].Icon" />
						</span>
						@UserMenu.Items[i].DisplayName
					</a>
				}

				<div class="dropdown-divider"></div>
				<a class="dropdown-item" id="MenuItem_Logout" href="javascript:void(0)" @onclick="BeginSignOut">
					<span class="lpx-menu-item-icon">
						<i class="lpx-icon" />
					</span>
					@UiLocalizer["Logout"]
				</a>
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<a class="nav-link" href="@AuthenticationOptions.Value.LoginUrl">@L["Login"]</a>
	</NotAuthorized>
</AuthorizeView>
